.container {
  height: 100%;
  padding: 16px;
}
.button {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 20px;
  }
  .button {
    margin-bottom: 32px;
  }
}
